# GeneTech / SwarmLabs Data API
# ---------------------------------------------------------------------------
# 本文件是 api.swarmlabs.tools（Cloudflare Worker `genetech-api-guard`）的规范。
#
# ⚠️ 状态说明（2026-10-02 实测，逐端点 curl 校验，非文档推测）：
#   - `/v1/academic/entities`、`/v1/academic/pubmed`、`/v1/academic/crossref`
#     目前**全部返回 404**。原因：data/academic-entities.json、data/pubmed-entities.json、
#     data/crossref-entities.json 尚未生成落盘（ops-extra 的 copy 清单里有名字，
#     但生成这些数据的 pipeline 尚未跑出产物）。worker.js 的 404 提示里仍列着它们。
#     这一段保留在规范里，待数据集生成后即可启用，调用方无需改动。
#   - 其余端点实测 200 / 401 / 404 正常。
#
# 鉴权分三档：
#   free   —— 免鉴权，按 IP 限流（默认 60 次/分钟）
#   pro    —— Authorization: Bearer <gtk_...>，走签名校验 + 站点授权
#   intel  —— ckn_ / gtk_ key（情报 demand 接口），admin_ 为管理端点
#
# 错误响应统一为 { error, message }，HTTP 语义：
#   200 成功 / 401 缺鉴权 / 403 key 无效 / 404 端点或数据不存在 /
#   405 方法不允许 / 429 限流（带 Retry-After）/ 502 上游不可达
openapi: 3.0.3
info:
  title: GeneTech Data API
  version: 2.0.0
  description: >
    面向 LLM / Agent 消费者的结构化科研数据接口：30 个前沿科技站点的 300,000 条
    实体（论文、项目、工具、数据集），每条均带可追溯来源（DOI / URL / 来源站）。
    设计为「信息收集 + 结构化基础设施」：只经规范接口输出数据价值，
    不承接训练、推理与合规判定。
  servers:
    - url: https://api.swarmlabs.tools
  contact:
    name: GeneTech Ops
    url: https://data.swarmlabs.tools

tags:
  - name: meta
    description: 健康与元信息
  - name: free
    description: 免鉴权数据读取（限流）
  - name: pro
    description: 需 Pro Key 的高级检索
  - name: intel
    description: 共享情报接口（免鉴权登记 / key 鉴权查询）

paths:
  /health:
    get:
      tags: [meta]
      summary: 服务健康检查
      operationId: health
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, example: true }
                  service: { type: string, example: genetech-api-guard }
                  time: { type: string, format: date-time }

  /v1/oss/registry:
    get:
      tags: [free]
      summary: 开源注册表（每日扫描 GitHub / HuggingFace / Papers-with-Code 的产物）
      operationId: ossRegistry
      security: []
      responses:
        '200':
          description: registry JSON（约 134 KB）
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/entities:
    get:
      tags: [free]
      summary: 聚合实体目录（30 站 / 300k 实体的索引视图）
      operationId: entityCatalog
      security: []
      parameters:
        - { name: site, in: query, description: '按站点过滤 slug', schema: { type: string } }
        - { name: q, in: query, description: '关键词（服务端过滤）', schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        '200': { description: catalog JSON（对齐 /api/catalog.json） }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/domains:
    get:
      tags: [free]
      summary: 站点（域）清单
      operationId: domainList
      security: []
      responses:
        '200':
          description: 30 站元数据

  /v1/domains/{slug}:
    get:
      tags: [free]
      summary: 单站实体索引
      operationId: domainIndex
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
          example: quantum-computing
      responses:
        '200': { description: 该站 website/api/index.json }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/academic/entities:
    get:
      tags: [free]
      summary: 学术实体集（Crossref + Europe PMC 双源 upsert）
      description: >
        由 operations-plan/pipeline-academic-datasets.js 每日产出（ops-extra.yml 的 academic 任务）。
        2026-10-02 数据已落地：658 条 / 847 KB，30/30 站覆盖。
        此前该端点长期 404 的根因不是端点缺失，而是**数据文件从未生成**
        （build-site.mjs 对缺失文件只 warn 不报错，所以缺文件永远不会让 CI 变红）。
      operationId: academicEntities
      security: []
      responses:
        '200': { description: academic-entities.json }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/academic/pubmed:
    get:
      tags: [free]
      summary: PubMed / Europe PMC 实体集
      description: >
        2026-10-02 数据已落地：222 条 / 425 KB，30/30 站覆盖（有 PMCID 119 / 有摘要 207）。
        数据源是 Europe PMC（EMBL-EBI 维护的 PubMed 开放镜像）而非 NCBI E-utilities：
        本网络下 NCBI 对机器人 UA 返回 HTTP 200 + HTML 封锁页，
        唯一能通的方式是伪装浏览器 UA（违反对方政策），因此改走免密钥、bot UA 放行的 Europe PMC。
      operationId: academicPubmed
      security: []

  /v1/academic/crossref:
    get:
      tags: [free]
      summary: Crossref 实体集
      description: >
        2026-10-02 数据已落地：621 条 / 794 KB，30/30 站覆盖（有摘要 282 / 有作者 553 / 有 venue 515）。
        单 DOI 直查 Crossref /works/{doi} 可一次拿到完整 reference[]，是跨站引用边的主要来源。
      operationId: academicCrossref
      security: []

  /v1/citation/edges:
    get:
      tags: [free]
      summary: 跨站引用边（cross-site citation edges）
      description: >
        data/citation-edges.json，实测 25,635 条 / 2.09 MB，30/30 站覆盖。
        每条边形如 [s, t, ss, ts]：实体 s（所属站 ss）引用了实体 t（所属站 ts），且 ss !== ts。
        只保留跨站边是刻意的——单域引用在 arXiv / Google Scholar 一查就有，
        跨站边（A 站实体引用了 B 站实体）才是本项目 30 站整合视角的可交付落点。
        域内引用以计数形式留在实体级统计里，不建边。
      operationId: citationEdges
      security: []
      responses:
        '200': { description: citation-edges.json }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/citation/gaps:
    get:
      tags: [free]
      summary: 跨域引用缺口矩阵（研究空白候选 + 跨域枢纽）
      description: >
        data/citation-gaps.json（43.8 KB），由 pipeline-citation-gaps.js 从
        citation-edges.json 纯派生（只读输入，不改上游）。全量一次 GET 拿完，不分页。
        响应结构：
          stats      —— 30 站 / 870 有向站对 / gapPairs 140（16.1%）
          degrees    —— 每站 inDegree / outDegree / totalEntities
          pairMatrix —— [from, to, count] × 870，完整矩阵（含 0）
          gapPairs   —— 零引用站对，按两站实体规模之和降序（规模大却零引用最值得看）
          bridges    —— 引用最强的 Top 30 站对，跨学科桥接种子
        interpretation 字段是给消费方（含 LLM）看的：
        gapPairs 可能是真实研究空白（两域尚未打通），也可能只是本项目在该两域语料不足，
        必须结合 degrees[].totalEntities 一起读，否则会把「我们没抓到」误当「没人研究」。
      operationId: citationGaps
      security: []
      responses:
        '200': { description: citation-gaps.json }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/search/semantic:
    post:
      tags: [pro]
      summary: 语义检索（Pro Key 必需）
      operationId: semanticSearch
      security:
        - proKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string, example: 'photosynthesis quantum efficiency' }
                sites:
                  type: array
                  items: { type: string }
                  description: >-
                    限定的站点 slug（例 ["ai-safety","quantum-materials"]）。
                    给定了就切到**分片加载路径**：worker 拉 `data/search-index/site-<slug>.json.gz`
                    按需解压，覆盖率 100%（300k 实体全量）。不给则用单文件精简索引
                    （top-600/站，18k 实体，覆盖率 ~6%）。
                    一次请求最多加载 10 片（`manifest.maxShardsPerRequest`），超出静默截断，
                    任何分片失败自动回退到单文件索引。
                source: { type: string, description: '限定来源（可选）' }
                limit: { type: integer, default: 20, maximum: 50 }
                min_confidence: { type: number, format: float, default: 0 }
              additionalProperties: false
      responses:
        '200':
          description: >-
            命中结果（name/tags/snippet/url/confidence 加权打分）。
            `meta.sharded` 为 true 表示走了分片加载（全量 300k），false 表示走了单文件精简索引（18k）。
            `meta.shardedMeta` 含 shardsLoaded / shardsFailed / shardSites / elapsedMs。
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '405': { description: 仅支持 POST }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { description: 分片与单文件索引均不可用（罕见，通常意味着 Pages 上游出问题） }

  /api/pro/search/semantic:
    post:
      tags: [pro]
      summary: 语义检索（/api/pro/ 等价路径）
      operationId: semanticSearchPro
      security:
        - proKey: []
      responses:
        '200': { description: 同 /v1/search/semantic }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/intel/apply:
    post:
      tags: [intel]
      summary: 登记情报申请（免鉴权）
      operationId: intelApply
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string }
                use_case: { type: string }
      responses:
        '200': { description: 受理回执，返回申请 id }
        '400': { description: 参数缺失或非法 }

  /v1/intel/verify:
    get:
      tags: [intel]
      summary: 校验 key（免鉴权）
      operationId: intelVerify
      security: []
      parameters:
        - { name: k, in: query, schema: { type: string } }
      responses:
        '200': { description: key 有效 }
        '401': { description: key 无效 }

  /v1/intel/demand:
    post:
      tags: [intel]
      summary: 提交情报需求（需 ckn_ 或 gtk_）
      operationId: intelDemand
      security:
        - intelKey: []
      responses:
        '200': { description: 需求受理，返回 id }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/intel/demand/{id}:
    get:
      tags: [intel]
      summary: 查询情报需求状态与结果
      operationId: intelDemandGet
      security:
        - intelKey: []
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: 需求详情（含产出） }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/intel/consumer:
    get:
      tags: [intel]
      summary: 消费者名单（admin）
      operationId: intelConsumerList
      security:
        - intelKey: []
      responses:
        '200': { description: 消费者列表 }

  /v1/intel/consumer/create:
    post:
      tags: [intel]
      summary: 创建消费者（admin）
      operationId: intelConsumerCreate
      security:
        - intelKey: []
      responses:
        '200': { description: 创建成功，返回 key }
        '400': { description: 参数非法 }

  /v1/intel/admin/state:
    get:
      tags: [intel]
      summary: 导出 intel 系统状态（admin）
      operationId: intelAdminState
      security:
        - intelKey: []
      responses:
        '200': { description: memory 状态快照 }

components:
  securitySchemes:
    proKey:
      type: http
      scheme: bearer
      description: 'Pro Key，前缀 gtk_（密钥在服务端签发，明文仅存于签发端）'
    intelKey:
      type: apiKey
      in: header
      name: X-GeneTech-Key
      description: '情报接口 key，前缀 ckn_（消费者）或 admin_（管理）'

  responses:
    Unauthorized:
      description: 缺少 Authorization 头
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: unauthorized }
              message: { type: string }
    Forbidden:
      description: Key 签名校验失败 / 已过期 / 站点未授权
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: forbidden }
              message: { type: string }
    NotFound:
      description: 端点或数据不存在
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: not_found }
              message: { type: string }
    RateLimited:
      description: 免费层限流
      headers:
        Retry-After: { schema: { type: integer } }
