# GeneTech / SwarmLabs Data API
# ---------------------------------------------------------------------------
# 本文件是 api.swarmlabs.tools（Cloudflare Worker `genetech-api-guard`）的规范。
#
# ⚠️ 状态说明（2026-10-02 实测，逐端点 curl 校验，非文档推测）：
#   - `/v1/academic/entities`、`/v1/academic/pubmed`、`/v1/academic/crossref`
#     目前**全部返回 404**。原因：data/academic-entities.json、data/pubmed-entities.json、
#     data/crossref-entities.json 尚未生成落盘（ops-extra 的 copy 清单里有名字，
#     但生成这些数据的 pipeline 尚未跑出产物）。worker.js 的 404 提示里仍列着它们。
#     这一段保留在规范里，待数据集生成后即可启用，调用方无需改动。
#   - 其余端点实测 200 / 401 / 404 正常。
#
# 鉴权分三档：
#   free   —— 免鉴权，按 IP 限流（默认 60 次/分钟）
#   pro    —— Authorization: Bearer <gtk_...>，走签名校验 + 站点授权
#   intel  —— ckn_ / gtk_ key（情报 demand 接口），admin_ 为管理端点
#
# 错误响应统一为 { error, message }，HTTP 语义：
#   200 成功 / 401 缺鉴权 / 403 key 无效 / 404 端点或数据不存在 /
#   405 方法不允许 / 429 限流（带 Retry-After）/ 502 上游不可达
openapi: 3.0.3
info:
  title: GeneTech Data API
  version: 2.0.0
  description: >
    面向 LLM / Agent 消费者的结构化科研数据接口：30 个前沿科技站点的 300,000 条
    实体（论文、项目、工具、数据集），每条均带可追溯来源（DOI / URL / 来源站）。
    设计为「信息收集 + 结构化基础设施」：只经规范接口输出数据价值，
    不承接训练、推理与合规判定。
  servers:
    - url: https://api.swarmlabs.tools
  contact:
    name: GeneTech Ops
    url: https://data.swarmlabs.tools

tags:
  - name: meta
    description: 健康与元信息
  - name: free
    description: 免鉴权数据读取（限流）
  - name: pro
    description: 需 Pro Key 的高级检索
  - name: intel
    description: 共享情报接口（免鉴权登记 / key 鉴权查询）

paths:
  /health:
    get:
      tags: [meta]
      summary: 服务健康检查
      operationId: health
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, example: true }
                  service: { type: string, example: genetech-api-guard }
                  time: { type: string, format: date-time }

  /v1/oss/registry:
    get:
      tags: [free]
      summary: 开源注册表（每日扫描 GitHub / HuggingFace / Papers-with-Code 的产物）
      operationId: ossRegistry
      security: []
      responses:
        '200':
          description: registry JSON（约 134 KB）
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/entities:
    get:
      tags: [free]
      summary: 聚合实体目录（30 站 / 300k 实体的索引视图）
      operationId: entityCatalog
      security: []
      parameters:
        - { name: site, in: query, description: '按站点过滤 slug', schema: { type: string } }
        - { name: q, in: query, description: '关键词（服务端过滤）', schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        '200': { description: catalog JSON（对齐 /api/catalog.json） }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/domains:
    get:
      tags: [free]
      summary: 站点（域）清单
      operationId: domainList
      security: []
      responses:
        '200':
          description: 30 站元数据

  /v1/domains/{slug}:
    get:
      tags: [free]
      summary: 单站实体索引
      operationId: domainIndex
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
          example: quantum-computing
      responses:
        '200': { description: 该站 website/api/index.json }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/academic/entities:
    get:
      tags: [free]
      summary: 学术实体集（OpenAlex 扩库产物）
      description: >
        **实测 404（2026-10-02）**：上游 data/academic-entities.json 尚未生成。
        保留端点定义，数据集落地后无需改动调用方。
      operationId: academicEntities
      security: []
      responses:
        '200': { description: academic-entities.json }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/academic/pubmed:
    get:
      tags: [free]
      summary: PubMed 实体集
      description: '**实测 404（2026-10-02）**：data/pubmed-entities.json 尚未生成。'
      operationId: academicPubmed
      security: []

  /v1/academic/crossref:
    get:
      tags: [free]
      summary: Crossref 实体集
      description: '**实测 404（2026-10-02）**：data/crossref-entities.json 尚未生成。'
      operationId: academicCrossref
      security: []

  /v1/search/semantic:
    post:
      tags: [pro]
      summary: 语义检索（Pro Key 必需）
      operationId: semanticSearch
      security:
        - proKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [q]
              properties:
                q: { type: string, example: 'photosynthesis quantum efficiency' }
                sites:
                  type: array
                  items: { type: string }
                  description: '限定的站点 slug；不给则全局检索'
                limit: { type: integer, default: 10 }
                min_confidence: { type: number, format: float, default: 0 }
              additionalProperties: false
      responses:
        '200':
          description: 命中结果（name/tags/snippet/url/confidence 加权打分）
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '405': { description: 仅支持 POST }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/pro/search/semantic:
    post:
      tags: [pro]
      summary: 语义检索（/api/pro/ 等价路径）
      operationId: semanticSearchPro
      security:
        - proKey: []
      responses:
        '200': { description: 同 /v1/search/semantic }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/intel/apply:
    post:
      tags: [intel]
      summary: 登记情报申请（免鉴权）
      operationId: intelApply
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string }
                use_case: { type: string }
      responses:
        '200': { description: 受理回执，返回申请 id }
        '400': { description: 参数缺失或非法 }

  /v1/intel/verify:
    get:
      tags: [intel]
      summary: 校验 key（免鉴权）
      operationId: intelVerify
      security: []
      parameters:
        - { name: k, in: query, schema: { type: string } }
      responses:
        '200': { description: key 有效 }
        '401': { description: key 无效 }

  /v1/intel/demand:
    post:
      tags: [intel]
      summary: 提交情报需求（需 ckn_ 或 gtk_）
      operationId: intelDemand
      security:
        - intelKey: []
      responses:
        '200': { description: 需求受理，返回 id }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/intel/demand/{id}:
    get:
      tags: [intel]
      summary: 查询情报需求状态与结果
      operationId: intelDemandGet
      security:
        - intelKey: []
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: 需求详情（含产出） }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/intel/consumer:
    get:
      tags: [intel]
      summary: 消费者名单（admin）
      operationId: intelConsumerList
      security:
        - intelKey: []
      responses:
        '200': { description: 消费者列表 }

  /v1/intel/consumer/create:
    post:
      tags: [intel]
      summary: 创建消费者（admin）
      operationId: intelConsumerCreate
      security:
        - intelKey: []
      responses:
        '200': { description: 创建成功，返回 key }
        '400': { description: 参数非法 }

  /v1/intel/admin/state:
    get:
      tags: [intel]
      summary: 导出 intel 系统状态（admin）
      operationId: intelAdminState
      security:
        - intelKey: []
      responses:
        '200': { description: memory 状态快照 }

components:
  securitySchemes:
    proKey:
      type: http
      scheme: bearer
      description: 'Pro Key，前缀 gtk_（密钥在服务端签发，明文仅存于签发端）'
    intelKey:
      type: apiKey
      in: header
      name: X-GeneTech-Key
      description: '情报接口 key，前缀 ckn_（消费者）或 admin_（管理）'

  responses:
    Unauthorized:
      description: 缺少 Authorization 头
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: unauthorized }
              message: { type: string }
    Forbidden:
      description: Key 签名校验失败 / 已过期 / 站点未授权
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: forbidden }
              message: { type: string }
    NotFound:
      description: 端点或数据不存在
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: not_found }
              message: { type: string }
    RateLimited:
      description: 免费层限流
      headers:
        Retry-After: { schema: { type: integer } }
